<div>
    <div class="d-flex justify-content-between pt-2 p-5 pb-2 bg-black heading1">
        <div>
            <img src="https://hilton.gftpl.in/assets/logo-light.png" alt="logo" width="200" height="70">
        </div>
        <div class="input-group w-75 border border-3 rounded-5 bg-white ps-5 pe-5 mt-3 mb-3">
            <span class="bi bi-search pe-5" style="font-size:30px;"></span><input type="text" class="form-control border border-0" placeholder="What are you looking for?">
        </div>
    </div>

    <div>
       <app-carousel></app-carousel>
    </div>

    <div class="container-fluid p-5 d-flex justify-content-around">
        <div class="ms-5 me-5 pb-3" style="font-size: 30px; border-bottom: 3px solid gray;">
            <h2>We create functional, beautiful interiors for our clients since 1987.</h2>
        </div>
        <div class="ms-5 me-5 pb-3" style="font-size: 18px;">
            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. When an unknown printer took a galley of type and scrambled it to make a type specimen book. When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>

    <div class="d-flex justify-content-center pt-3 pb-5">
        <div class="d-flex hlink" style="height: 450px;">
            <div class="hover1">
                <a href="#">
                    <img src="https://apihilton.gftpl.in/media/whatwedo_image/bed2_NHzuFsw.webp" alt="" width="433" height="360">
               </a>
               <p>Bedrooms</p>
            </div>
            <div class="hover1">
                <a href="#">
                    <img src="https://apihilton.gftpl.in/media/whatwedo_image/image-5_g5k2ok8_gxuxjaI_EMUHxMD_Xigbywn_CnVqATT.webp" alt="" width="433" height="360">
                </a>
                <p>Kitchens</p>
            </div>
            <div class="hover1">
                <a href="#">
                    <img src="https://apihilton.gftpl.in/media/whatwedo_image/w2_ftNPphQ_FG8LDDz.webp" alt="" width="433" height="360">
                </a>
                <p>Wardrobes</p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center pb-5 pt-5">
        <div>
            <div class="d-flex justify-content-center">
                <div class="fys text-center w-50">
                    <h3 class="text-white">Find your style</h3>
                </div>
            </div>
            <div class="pt-3">
                <app-carousel1></app-carousel1>
            </div>
        </div>
    </div>

    <div class="bgcolor container-fluid p-1">
        <div class="container-fluid d-flex justify-content-around mt-5">
            <div class="cr text-center m-4">
                <h1 class="m-5 mb-3 pt-3">MODULAR KITCHEN UPTO 30% OFF</h1>
                <p class="m-5 mb-3 mt-0">Curated modular kitchens designs to redefine your cooking places</p>
                <div>
                    <button class="btn btn-dark btn-lg">Enquire Now</button>
                </div>
            </div>
            <div class="m-5 p-5">
                <div class="imgcr">
                    <img src="https://apihilton.gftpl.in/media/offer_s_image/AdobeStock_138081021_aqUElg1.webp" alt="" width="548" height="308">
                </div>
            </div>
        </div>

        <div class="container-fluid border border-3 border-bottom-0 border-end-0 border-start-0">
            <div class="d-flex justify-content-center mt-5">
                <div class="fys1 text-center">
                    <h3>Design Your Kitchen Instantly</h3>
                </div>
            </div>
            <div class="d-flex justify-content-around mt-5 mb-5">
                <div>
                    <img src="https://apihilton.gftpl.in/media/kitchens_image/AdobeStock_138081021.webp" alt="" width="333" height="351">
                    <p class="text-center p-3 bg-dark text-white">L shapped</p>
                </div>
                <div>
                    <img src="https://apihilton.gftpl.in/media/kitchens_image/AdobeStock_196997973.webp" alt="" width="425" height="380">
                    <p class="text-center p-3 bg-dark text-white">U shapped</p>
                </div>
                <div>
                    <img src="https://apihilton.gftpl.in/media/kitchens_image/AdobeStock_298122288.webp" alt="" width="333" height="351">
                    <p class="text-center p-3 bg-dark text-white">Matt Kitchens</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bggray2 p-3 pt-4 border border-3 border-start-0 border-end-0">
        <div class="d-flex justify-content-center mt-3">
            <div class="fys3 text-center w-25">
                <h3>Testimonials</h3>
            </div>
        </div>
        <div>
            <app-carousel2></app-carousel2>
        </div>
    </div>

    <div class="bggray2 container-fluid d-flex justify-content-around p-3 pb-5">
        <div class="d-flex justify-content-center align-items-center mt-5 p-5">
           <div class="fys2 mt-3">
                <h2>
                    Schedule free designer consultation.
                </h2>
                <p>
                    When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. Lorem Ipsum is simply dummy text of the printing.
                </p>
           </div>
        </div>
        <div>
            <div class="d-flex justify-content-center pt-5 pb-4">
                <div class="fys3 text-center w-50">
                    <h3>Enquiry Now</h3>
                </div>
            </div>
            <div>
                <form action="post">
                    <input type="text" name="name" class="form-control mb-3 bg-black p-4 text-white" placeholder="Name">
                    <input type="email" name="email" class="form-control mb-3 bg-black p-4 text-white" placeholder="Email">
                    <input type="text" name="mobile" placeholder="Mobile" class="form-control mb-3 bg-black p-4 text-white">
                    <div class="input-group">
                        <input type="text" name="dimension" placeholder="Dimension(mm)" class="form-control me-3 bg-black p-4 text-white">
                        <input type="file" name="attachment" placeholder="Attachement" class="form-control bg-black p-4 text-white">
                    </div>
                    <button class="btn btn-dark btn-lg w-100 mt-3 p-2">SEND</button>
                </form>
            </div>
        </div>
    </div>

    <div class="bg-dark d-flex justify-content-around text-white p-5">
        <div class="w-50">
            <div class="mb-5">
                <img src="https://hilton.gftpl.in/assets/logo-light.png" alt="logo" width="200" height="70">
            </div>
            <div class="mb-5 w-75">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar nec adipiscing velit, varius consectetur consequat sem dignissim. Diam ultricies facilisis nulla tortor odio id accumsan sit.</p>
            </div>
            <div class="d-flex justify-content-around w-25 fdiv">
                <a href="https://www.google.com/search?gs_ssp=eJzj4tLP1TfIyDMsS05XYDRgdGDwYi8pzywpSS0CAFnOB00&q=twitter&rlz=1"><span class="bi bi-twitter"></span></a>
                <a href="https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Fsettings%3Ftab%3Daccount%26section%3Demail%26view"><span class="bi bi-facebook"></span></a>
                <a href="https://www.instagram.com/shah.tbk/?igshid=YmMyMTA2M2Y%3D"><span class="bi bi-instagram"></span></a>
            </div>
        </div>
        <div class="w-50">
            <div class="d-flex justify-content-around">
                <div class="fdiv1">
                    <div><a href="#">Useful Links</a></div>
                    <div><a href="#">About us</a></div>
                    <div><a href="#">Bedrooms</a></div>
                    <div><a href="#">Wardrobes</a></div>
                    <div><a href="#">Testimonials</a></div>
                </div>
                <div class="fdiv1">
                    <div><a href="#">Need Help?</a></div>
                    <div><a href="#">Contact us</a></div>
                    <div><a href="#">Privacy Policy</a></div>
                    <div><a href="#">Disclaimer</a></div>
                    <div><a href="#">FAQ's</a></div>
                </div>
            </div>
            <div class="mt-5 pt-3 ps-5 ms-5">
                © 2022 All Right Reserved. Proudly Coded by Team GFTPL & Branding by Neeom
            </div>
        </div>
    </div>
</div>