<div class="container-fluid d-flex justify-content-center">
    <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#bootstrapCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#bootstrapCarousel" data-slide-to="1"></li>
            <li data-target="#bootstrapCarousel" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://apihilton.gftpl.in/media/banner_image/AdobeStock_298122288.webp" width="1400" height="548">
            </div>
            <div class="carousel-item">
                <img src="https://apihilton.gftpl.in/media/banner_image/AdobeStock_138081021.webp" width="1400" height="548">
            </div>
            <div class="carousel-item">
                <img src="https://apihilton.gftpl.in/media/banner_image/AdobeStock_196997973_TOeVhzt.webp" width="1400" height="548">
            </div>
        </div>
        <a class="carousel-control-prev" href="#bootstrapCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#bootstrapCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>