<div class="container-fluid d-flex justify-content-center p-5 w-25">
    <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#bootstrapCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#bootstrapCarousel" data-slide-to="1"></li>
        </ul>
        <div class="carousel-inner text-white innerc">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                   <div class="person pt-2"></div> 
                </div>
                <div class="boxer">
                    <div class="p-5">Best Services by hiton interiors</div>
                </div>
                <div class="text-box text-center mt-4" style="font-size: 20px;">
                    <div>Aniket</div>
                    <div>CEO</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <div class="person1 pt-2"></div>
                </div>
                <div class="boxer">
                    <div class="p-5">
                        Which an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. When an unknown printer took a galley of type and scrambled it to make a type specimen book. When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </div>
                </div>
                <div class="text-white text-center mt-4" style="font-size: 20px;">
                    <div>Lalit</div>
                    <div>Mabager</div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#bootstrapCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#bootstrapCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>