<div class="container-fluid d-flex justify-content-center">
    <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner ci">
            <div class="carousel-item active">
                <img src="https://apihilton.gftpl.in/media/category_image/AdobeStock_298122288.webp" width="500" height="548">
                <p class="bg-dark text-white p-3 text-center">Matte Kithen</p>
            </div>
            <div class="carousel-item">
                <img src="https://apihilton.gftpl.in/media/category_image/AdobeStock_196997973.webp" width="500" height="548">
                <p class="bg-dark text-white p-3 text-center">Matte Kithen</p>
            </div>
            <div class="carousel-item">
                <img src="https://apihilton.gftpl.in/media/category_image/AdobeStock_138081021.webp" width="500" height="548">
                <p class="bg-dark text-white p-3 text-center">Matte Kithen</p>
            </div>
            <div class="carousel-item">
                <img src="https://apihilton.gftpl.in/media/category_image/bed1.webp" alt="" width="500" height="548">
                <p class="bg-dark text-white p-3 text-center">Matte Kithen</p>
            </div>
            <div class="carousel-item">
                <img src="https://apihilton.gftpl.in/media/category_image/w1.webp" alt="" width="500" height="548">
                <p class="bg-dark text-white p-3 text-center">Matte Kithen</p>
            </div>
            <div class="carousel-item">
                <img src="https://apihilton.gftpl.in/media/category_image/image-6.webp" alt="" width="500" height="548">
                <p class="bg-dark text-white p-3 text-center">Matte Kithen</p>
            </div>
            <div class="carousel-item">
                <img src="https://apihilton.gftpl.in/media/category_image/w2.webp" alt="" width="500" height="548">
                <p class="bg-dark text-white p-3 text-center">Matte Kithen</p>
            </div>
        </div>
        <a class="carousel-control-prev" href="#bootstrapCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#bootstrapCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>